@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* * extra stuff */
:root{
    --c1: #049940;
    --c2: #F0F1F3;
    --c3: #ffffff; 
    --c4: #C6D8E4;
    --c5: #193c45;
    --c6: #333;
    /** 2A6877 */
    /** 054535 */
}
h1,h2,h3,h4,h5,h6{
    font-family: raleway, serif;
}
    ::-webkit-scrollbar{
        display: none;
        background-color: transparent;
        width: 10px;
        z-index: 100;
        
    }
    ::-webkit-scrollbar-thumb{
        display: block;
        background-color: #333;
        width: 10px;
        border-radius: 1rem;
        box-shadow: 0 -10px 100rem 5rem;
    }
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: roboto ;
    transition: all 300ms ease-in-out;
    scroll-behavior: smooth;
}
.btn-t1{
    background-color: var(--c5);
    color: var(--c3);
    border: 2px solid var(--c5);
    padding: 1rem 2rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5rem;
    font-size: 1rem;
    margin: auto;
}

.btn-t1:hover{
    background-color: transparent;
    color: var(--c5);
}
.btn-t2{
    font-size: 1rem;
    background-color: transparent;
    color: var(--c5);
    border: 2px solid var(--c5);
    padding: 1rem 2rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5rem;
}

.btn-t2:hover{
    background-color: var(--c5);
    color: var(--c3);
}
/* ? nav bar section */

.nav-sec header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.nav-sec header nav .logo h1 {
    font-size: 2rem;
    color: #333;
}
.nav-sec header nav .logo h1 i{
 display: none;
}
.nav-sec header nav .logo h1 span {
    color:var(--c1) ;
}
.nav-sec header nav .tags{
    display: flex;
    font-size: 1.2rem;
    gap: 1.5rem;
    list-style-type: none;
    color: #1c1c1ce9;
}
.nav-sec header nav .tags li:hover{
    transform: scale(1.1);
}
.nav-sec header nav .tags li hr{
    transition:all 0.5s ease-out ;
    width: 0px;
   visibility: hidden;
}
.nav-sec header nav .tags li:hover hr{
    width: 100%;
    border: 1px solid var(--c5);
    visibility: visible;
}
.nav-sec header nav .tags a{
    text-decoration: none;   
    color: var(--c6);
}

/* ? landing page section */

.hero .hero-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    padding: 0rem 5rem;
}
.hero .hero-screen .hero-left{
    width: 50vw;
    
}
.hero .hero-screen .hero-left > a>button{
animation: fade-in 1s ease;
}
.hero .hero-screen .hero-left h1{
    font-size: 4rem;
    width: 70%;
    color: var(--c5);
    animation: appear-l-to-r 300ms ease;
}

.hero .hero-screen .hero-left p{
    font-size: 1.3rem;
    width: 80%;
    font-weight: 600;
    padding: 1rem 0rem;
    color: #333333bb;
    animation: appear-l-to-r 500ms ease;
}

.hero .hero-screen .hero-right img{
    width:40vw;
    animation: fade-in 300ms ease;
}
.services{
    background: rgb(80,172,151);
    background: linear-gradient(90deg, rgba(80, 172, 151, 0.405) 0%, rgba(255,255,255,1) 100%);
    height: 80vh;
    display: flex;
    padding: 2rem ;
    
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.services h2{
    font-size: 2rem;
    color: #333;
    text-align: center;

}
.services .service-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    gap: 2rem;
}
.services .service-screen .ser-box{
    width: 20%;
    height: 17rem;
    margin: 1rem;
    background-color: #ffffff1e;
    border: 3px solid #8f8e8e5f;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    transition: all 300ms ease;
}
.services .service-screen .ser-box:hover{
    background-color: #89898920;
    flex-grow: 0.1;
    transition: all 0.5s;
}
.ser-box h3,.ser-box p {
    font-family: raleway;
    width: 120%;
    font-weight: 400;
    text-align: center;
    color: #333;
}
.services .service-screen .ser-box button{
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--c5);
    border: 1px solid var(--c5);
    border-radius: 2rem ;
    font-size: 1rem;
}
.services .service-screen .ser-box button:hover{
    background-color: var(--c5);
    color: var(--c3);
}
.ser-box p{
    font-size:1rem ;
    color: #414141eb;
}
.services .service-screen .ser-box img{
    width: 4rem;
}

/* ! how we work section */
.hww{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}
.hww .hww-top{
    padding: 2rem;
    text-align: center;
}
.hww .hww-top h2{
    color:var(--c5);
    font-size: 2rem;
}
.hww .hww-top p{
    padding: 1rem;
    font-size: 1rem;
    color: #333;
}
.hww .hwwbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
    padding: 2rem;
    margin: 0rem 5rem;
}
.hww .hwwbox img{
    width: 35%;
}
.hww .hwwbox .hww-text{
    width: 60%;
    position: relative;
}
.hww .hwwbox .hww-text span{
    font-size: 4.5rem;
    font-weight: 900;
    color: #c3c3c3dd;
    position: absolute ;
    top: -1.5rem;
    left: -1.5rem;
    z-index: -10;
}
.hww .hwwbox .hww-text h3{
    font-size: 2.5rem;
    color: var(--c5);
}
.hww .hwwbox .hww-text p{
    font-size: 1.4rem;
    color: #333;
}

/* ! About us section */
.about-us{
    background: rgb(80,172,151);
    background: linear-gradient(90deg, rgba(80, 172, 151, 0.405) 0%, rgba(255,255,255,1) 100%);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
}
.about-us .abt-us-l{
    width: 50%;
}

.about-us .abt-us-l h3{
    font-size: 2rem;
    color: var(--c5);

}

.about-us .abt-us-l img{
    width: 50%;
    margin: 1.5rem;
}

.about-us .abt-us-l p{
    font-size: 1.3rem;
    color: #333;
}

.about-us .abt-us-r{
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 2rem;
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 16px 16px 25px #a4a4a4a9 ;
}

.about-us .abt-us-r input{
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--c1);
    border-radius: 01rem;
    border: 2px solid #767676c8;
    margin-bottom: 1rem;
    outline-color: var(--c5);
}
.about-us .abt-us-r label{
    font-family: raleway;
    font-size: 1rem;
    color: #333;    
}

.footer{
    background-image: url(./assets/footer-bg6.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 4rem;
    display: flex;
    flex-direction: row;
    
}

.footer .foot1{
    font-size: 1.5rem;
    color: var(--c3);
    margin: 2rem;
}
.footer .foot1 i{
    margin:0.2rem;
}
.footer .foot1 p{
    color: #b4b4b4;
    width: 50%;
    font-size: 1rem;    
}
.footer .foot1 h5{
    font-size: 2rem;
}
.footer .foot1 h5 span{
    color: var(--c1);
}
.footer .foot2,
.footer .foot3{
    width: 20%;
    font-size: 1.5rem;
    color: var(--c3);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer .foot2 a{
    color: var(--c3);
    text-decoration: none;
    font-size: 1rem;

}
.footer hr{
    width: 30%;
}
.footer .foot3 > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
}

.footer .foot3 > div > i{
    font-size:1.2rem ;
}
.get-to-top{
    font-size: 2rem ;
    padding: 1rem 1.2rem;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--c3);
    background-color: #193c459f;
    width: 60px;
    height: 60px ;
    cursor: pointer;
    border-radius: 5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    box-shadow: 0 0 0.5rem #193c459f;
    transition: width 300ms;
}
.get-to-top span{
    font-size: 1rem;
    display: none;
    text-decoration: none;
    
}.get-to-top:hover {
    
    width: 170px;
}
.get-to-top:hover span{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-nav{
    display: none;
    
}


@keyframes appear-l-to-r{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes scale-up{
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(1);
    }
}
@keyframes appear-t-to-b{
    from{
        transform: translateY(-100%);
        transition: height 0.5s ease-in-out;

    }
    to{
        transform: translateY(0%);
        transition: height 0.5s ease-in-out;

        
    }
}
